 *{
  font-family: monospace;
  font-size: 20px;
  font-weight: 1;
padding:0 ;
margin: 0;
}
.title{

  font-size: 30px;
  padding:0 ;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
}
.gameover{
  margin-top: 10px;
    margin-left: 10px;
}
#flag_btn {
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}
#reset_btn {
    font-size: 16px;
    background-color: #f44336;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

#reset_btn:hover {
    background-color: #d32f2f;
}

#flag_btn:hover {
    background-color: #45a049;
}

canvas{
    /* padding: 20px; */
    margin-left: 10px;
    margin-top: 20px;
}
#win_msg{
    margin-top: 10px;
    margin-left: 10px;
}
#flags_placed{
    margin-top: 10px;
    margin-left: 10px;
}